/* IMPORT GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    background-color: var(--main-color-white);
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-text);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.site-content {
    flex: 1;
}

:root {
    /* COLORS */
    --main-color: #ec268f;
    --main-color-hover: #ca1978;
    --main-color-active: #b6126a;
    --main-color-white: #ffffff;

    --color-text: #262626;

    /* FONTS */
    --font-1: 'Work Sans', Helvetica, sans-serif;
    --font-2: 'Yu Gothic', sans-serif;
    --font-text: 'Lato', sans-serif;
}

/* SELECTED TEXTS COLORS */
::selection {
    background: #ec269028;
}

/* Mozilla Firefox */ 
::-moz-selection {
    background: #ec269028;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}
 
::-webkit-scrollbar-thumb {
  background: #8d8d8d;

}

::-webkit-scrollbar-thumb:hover {
  background: #b7b7b7; 
}

 /* HEADER */
header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color-white);
}

header img {
    width: 80px;
    height: 100%;
}

header ul {
    display: flex;
    list-style: none;
}

header li {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    display: block;
    color: var(--color-text);
    font-family: var(--font-text);
    font-weight: bold;
    font-size: 13pt;
    padding: 2px;
}

.nav-link:hover {
    color: var(--main-color-hover);
}

.submenu {
    display: none;
    font-family: var(--font-2);
    position: fixed;
    padding: 5px;
    background-color: var(--main-color-white);
}

.submenu a {
    text-decoration: none;
    color: var(--color-text);
    display: block;
    padding: 4px;
}

nav ul li:hover .submenu {
    display: block;
    color: var(--color-text);
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #909090;
}

nav ul li:hover .submenu ul {
    display: block;
    color: var(--color-text);
    transition: 0.2s;
}

nav ul li:hover .submenu li:hover {
    background-color: #e5e0e0;
    transition: background 0.2s;
    border-radius: 5px;
}

.search-bar input {
    outline: 0;
    background-color: #f3f3f3;
    border-radius: 10px;
    border: 0;
    padding: 8px;
    font-family: var(--font-text);
    font-size: 12pt;
}

.search-bar input:focus {
    box-shadow:0 0 0 1px #e7f3ff;
    border: 1px solid #1877f2;
}

.search-bar button {
    background-color: var(--main-color);
    color: #ffffff;
    border: 0;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;
    color: var(--main-color);
    font-family: var(--font-1);
    font-weight: 600;
    font-size: 20pt;
    text-decoration: none;

    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

/*RESPONSIVE HEADER*/
@media (max-width: 500px){
    header {
        flex-direction: column;
    }
}

.sidebar {
	padding:0 5px 0 0;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e9d4c4 100%);
	height: 100%;
	width: 330px; 
	position: fixed;
	top: 0;
	left:-325px;
    overflow: auto;
    -moz-transition: all .5s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

.sidebar:hover {
	transform: translateX(320px);
	padding-right: 0;
}

.sidebar ul {
	list-style: none;
}

.sidebar h3 {
	display: inline-block;
	font-size: 20pt;
    font-weight: 600;
    font-family: var(--font-1);
	margin: 1em 0 1em 2em;
	color: var(--main-color);
    cursor: default;
}

.sb-options {
    margin: 1em 0 1em -2em;
	position: relative;
	font-size: 12pt;
}

.sb-options hr {
    width: 99%;
    border: 1px solid #382f3311;
}

.sb-options a {
    display: block;
	font-size: 14pt;
	color: var(--color-text);
	text-decoration: none;
	padding: 0.8em 0 0.8em 1em;
}

.sb-options i {
    margin-right: 0.5em;
}

.sb-options a:hover {
	background-color:#ffffff92;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

/* INDEX PAGE: BANNER */
.banner {
    background-image: url(https://cdn.discordapp.com/attachments/936460785780142170/999861258599805018/banner-index.jpg);
    height: auto;
    padding: 20% 10%;
}

.banner h1 {
    font-family: var(--font-1);
    font-weight: 500;
    text-align: center;
    color: white;
}

.banner h2 {
    font-family: var(--font-1);
    font-weight: 500;
    text-align: center;
    margin-top: 5%;
}

.banner a {
    text-decoration: none;
    color: white;
    margin: 0px auto;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background: var(--main-color);
}

.banner a:hover {
    background-color: var(--main-color-hover);
}

.banner a:active {
    background-color: var(--main-color-active);
}

/* Footer */
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--main-color-white);
}

footer ul li {
    list-style: none;
    display: inline-block;
    margin-right: 2em;
}

footer ul li:last-child {
    margin-right: 0;
}

footer span {
    font-family: var(--font-1);
    font-weight: 600;
}

footer ul li a {
    text-decoration: none;
}

/* TITLE */
.container-title {
    display: flex;
    flex-direction: column;
}

.title {
    margin-top: 3%;
    margin-left: 5%;
    font-family: var(--font-2);
    color: var(--main-color);
    font-weight: bold;
}

.subtitle {
    margin-top: 0;
    margin-left: 5%;
    font-family: var(--font-2);
    color: var(--color-text);
    font-size: 15pt;
}

/* AUTH PAGES */
.container-register-form {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.register-camp {
    max-width: 350px;
    min-width: 300px;
    min-height: 40vh;
    padding: 3rem;
    height: auto;
    border-radius: 6px;
    background-color: var(--main-color-white);
    box-shadow: 4px 4px 10px rgba(14, 14, 14, 0.485);
}

.register-camp input {
    outline: 0;
    border-radius: 5px;
    border: 1px solid #dddfe2;
    font-size: 12pt;
    font-family: var(--font-1);
    padding: 5px;
    background-color: #f3f3f3;
    margin-bottom: 8%;
    width: 95%;
}

.register-camp input:focus {
    box-shadow:0 0 0 2px #e7f3ff;
	border-color: #1877f2;
}

.auth-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: none;
    padding: 10px;
    font-family: var(--font-1);
    font-weight: 500;
    font-size: 13pt;
    border-radius: 5px;
    margin-bottom: 5%;
    background-color: var(--main-color);
    color: #ffffff;
}

.auth-button:hover {
    background-color: var(--main-color-hover);
    transition: background 0.3s;
}

.social-media-google {
    display: flex;
    text-align: center;
    justify-content: center;
}

.social-media-google a {
    text-decoration: none;
    font-size: 13pt;
    font-family: var(--font-1);
    font-weight: 500;
    color: #d72326;
    background-color: #ffffff;
    border: 1px solid #e3e3e3;
    padding: 8px;
    border-radius: 4px;
    width: 100%;
    margin-top: 5%;
}

.redirect-login-register {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.redirect-login-register a {
    text-decoration: none;
    font-family: var(--font-1);
    font-weight: 500;
    color: var(--color-text);
}

.redirect-login-register span {
    color: var(--main-color);
}

.redirect-login-register span:hover {
    color: var(--main-color-hover);
    transition: color 0.3s;
}

.title-auth {
    color: black;
    font-family: var(--font-1);
    font-weight: 600;
    font-size: 20pt;
    text-align: center;
}

.container-faq {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 5%;
    height: 100%;
    margin-bottom: 10%;
    width: 90%;
}

.div-faq {
    text-align: justify;
    font-family: var(--font-text);
}

.div-faq span {
    color: var(--color-text);
    font-size: 16pt;
}

.div-faq p {
    font-size: 15pt;
    font-weight: 400;
}

.div-faq a {
    color: var(--main-color);
    font-weight: bold;
}

.div-faq input {
    margin-bottom: 2%;
}

.container-logout {
    display: flex;
    justify-content: left;
    margin-bottom: 5%;
    margin-left: 5%;
}

.storie-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color-white);
}

.storie-info {
    display: flex;
    flex-direction: column;
}

.storie-title-container {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;

}

.storie-title {
    color: var(--color-text);
    font-family: var(--font-2);
    font-size: 24pt;
    font-weight: 600;
    padding: 5px;
}

.storie-data-1 {
    display: flex;
    flex-direction: column;
    font-family: var(--font-2);
    font-weight: 500;
    font-size: 15pt;
}

.container-stories {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 5%;
    height: 100%;
    margin-bottom: 10%;
    width: 90%;
}

.likes-container {
    margin-bottom: 18px;
}

.like-button {
    background-color: #262626;
    color: #ffffff;
    border: none;
    padding: 6px;
    border-radius: 8px;
    font-size: 13pt;
    font-family: var(--font-2);
    font-weight: 600;
}

.like-button:hover {
    background-color: #4c4c4c;
    transition: background 0.3s;
}

.like-button:active {
    background-color: #262626;
}

.div-stories {
    text-align: justify;
    font-family: var(--font-text);
}

.div-stories h3 {
    font-family: var(--font-1);
    font-size: 16pt;
    font-weight: bold;
    color: #dd2059;
}

.div-stories p {
    font-size: 13pt;
    font-family: var(--font-text);
}

.create-button {
    margin-top: 3%;
    background-color: #dd2059;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 7px;
    font-weight: bold;
    font-size: 13pt;
}

.create-button i {
    font-size: 13pt;
}

.create-button:hover {
    background-color: #bb1647;
    transition: 0.2s;
}

.create-button:active {
    background-color: #941037;
    transition: 0.2s;
}

.container-posts {
    display: block;
    margin-top: 4%;
    margin-left: 5%;
    height: 100%;
    margin-bottom: 5%;
    width: 90%;
}

.div-posts {
    text-align: justify;
    font-family: var(--font-text);
}

.div-posts p {
    font-size: 13pt;
}

.div-posts a {
    text-decoration: none;
    color: #dd2059;
}

.div-posts a:last-child {
    color: white;
}

.post-button {
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 8px;
    border-radius: 7px;
    font-weight: bold;
    font-size: 13pt;
    font-family: var(--font-2);
}

.post-button:hover {
    background-color: #bb1647;
    transition: 0.2s;
}

.post-button:active {
    background-color: #941037;
    transition: 0.2s;
}

.container-textarea {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
    padding: 5%;
    border-radius: 30%;
    
}

.div-textarea textarea, button {
    display: block;
}

.div-textarea textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    outline-color: #941037;
    outline-style: solid;
    outline-width: 3px;
    border: none;
    border-radius: 5px;
}

.div-textarea textarea:focus {
    box-shadow:0 0 0 3px #9c3587;
	border-color: #f89f5b;
    background-color: #fbe6d6;
}

.container-submit {
    display: flex;
    justify-content: center;
}

.submit-button {
    margin-top: 3%;
    background-color: #9c3587;
    color: white;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: var(--font-2);
    font-size: 13pt;
    border-radius: 7px;
    border: none;
}

.submit-button:hover {
    background-color: #3f1651;
    transition: 0.2s;
}

.submit-button:active {
    background-color: #3f0e35;
    transition: 0.2s;
}

.container-create {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 10%;
    font-family: var(--font-2);
    font-size: 15pt;
    color: #3f1651;
}

.div-create textarea, input, select, label, button {
    display: flex;
}

.div-create textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
}

textarea {
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
}

.input-title {
    width: 99%;
    font-size: 13pt;
    outline-color: #941037;
    outline-style: solid;
    outline-width: 2px;
    border: none;
    border-radius: 5px;
}

.input-title:focus {
    box-shadow:0 0 0 2px #9c3587;
	border-color: #f89f5b;
    background-color: #fbe6d6;
}

.desc-textarea {
    font-size: 13pt;
    outline-color: #941037;
    outline-style: solid;
    outline-width: 2px;
    border: none;
    border-radius: 5px;
}

.desc-textarea:focus {
    box-shadow:0 0 0 2px #9c3587;
	border-color: #f89f5b;
    background-color: #fbe6d6;
}

.label-tag {
    margin-bottom: 1%;
    margin-top: 1%;
}

.label-tag:first-child {
    margin-top: 0;
}

.submit-story-button button{
    background-color: #9c3587;
    color: white;
    padding: 20%;
    border: none;
    border-radius: 7px;
    font-size: 13pt;
    font-family: var(--font-2);
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.submit-story-button button:hover {
    background-color: #3f1651;
    transition: 0.2s;
}

.submit-story-button button:active {
    background-color: #3f0e35;
    transition: 0.2s;
}

.container-story {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    height: 100%;
    margin-bottom: 10%;
    width: 90%;
}

.div-story {
    text-align: justify;
}

.div-story p {
    font-family: Arial, Helvetica, sans-serif;
}

.chapters {
    font-family: var(--font-2);
    color: #3f0e35;
    font-size: 16pt;
}

.chapter-text-indent {
    font-size: 13pt;
    margin-top: 5%;
}

.container-chapter {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 5%;
    width: 70%;
}

.chapter-info {
    font-family: var(--font-text);
    font-weight: 600;
}

.div-chapter {
    font-family: var(--font-text);
    color: var(--color-text);
}

.div-chapter h4 a {
    color: var(--main-color);
}

.div-chapter h4 a:hover {
    color: var(--main-color-hover);
}

.div-chapter h4 a:active {
    color: var(--main-color-active);
}

.author-notes {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-top: 5%;
    text-align: justify;
}

.author-notes h2 {
    font-size: 15pt;
}

.chapter-text {
    font-size: 16pt;
}

.container-options {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 5%;
    height: 100%;
    margin-bottom: 10%;
    width: 90%;
}

.div-options a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #dd2059;
}

.div-options li {
    font-family: var(--font-2);
    color: #3f0e35;
}

.genre-button {
    background-color: rgb(15, 153, 15);
    color: white;
    font-size: 12pt; 
    font-family: var(--font-2);
    border-radius: 7px; 
    border: none; 
    padding: 10px; 
    font-weight: bold; 
    margin-top: 2%
}

/* Flash Messages */

.msg {
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}

.msg-success {
    background-color: #D4EDDA;
    color: #155724;
    border: 1px solid #C3E6CB;
    
}

.msg-danger {
    background-color: #f5a031;
    color: #a87204;
    border: 1px solid #efd68e;
}

/* Images */

.avatar {
    width: 100px;
}

.cover-show {
    width: 1000px;
}

.cover-index {
    width: 100px;
}