body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    box-sizing: border-box;
}

 /* HEADER */
header {
    display: flex;
    width: 100%;
    /*position: absolute;*/
    justify-content: space-between;
    align-items: center;
    background-color: #9c3587;
}

header img {
    width: 80px;
    height: 100%;
    margin-left: 15%;
}

header ul {
    display: flex;
    list-style: none;
}

header li {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    display: block;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

header a:hover {
    color: #f89f5b;
    transition: 0.2s;
}

.logo {
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20pt;
    text-decoration: none;
}

/*RESPONSIVE HEADER*/
@media (max-width: 500px){
    header {
        flex-direction: column;
    }
}

/* INDEX PAGE: BANNER */
.banner {
    background-image: url(https://cdn.discordapp.com/attachments/936460785780142170/999861258599805018/banner-index.jpg);
    height: auto;
    padding: 20% 10%;
}

.banner h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: white;
}

.banner h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 5%;
}

.banner a {
    text-decoration: none;
    color: white;
    margin: 0px auto;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background: rgb(70,24,61);
    background: linear-gradient(360deg, rgba(70,24,61,1) 0%, rgba(108,37,94,1) 35%, rgba(156,53,135,1) 100%);
}

.banner a:hover {
    background: rgb(99,34,87);
    background: linear-gradient(360deg, rgba(99,34,87,1) 0%, rgba(142,49,123,1) 35%, rgba(199,68,172,1) 100%);
}

.banner a:active {
    background: rgb(65,23,57);
    background: linear-gradient(360deg, rgba(65,23,57,1) 0%, rgba(98,34,86,1) 35%, rgba(103,36,89,1) 100%);
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    background-color: #3f0e35;
    padding: 30px 0;
}

footer ul {
    display: flex;
    margin-bottom: 20px;
}

footer ul li {
    margin-right: 10px;
    list-style: none;
}

footer ul li:last-child {
    margin-right: 0;
}

footer a {
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

footer a:hover {
    text-decoration: underline;
    transition: 0.2s;
}

footer p {
    display: flex;
    margin-left: 35px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15pt;
}

.div-credits a {
    margin-left: 35px;
    font-size: 10pt;
}

/* TITLE */
.container-title {
    display: flex;
    flex-direction: column;

}

.title {
    margin-top: 3%;
    margin-left: 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #3f1651;

}

.title mark {
    background-color: #f89f5b;
    color: #3f1651;
}

.subtitle {
    margin-top: 0;
    margin-left: 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #3f1651;
    font-size: 15pt;
}

/* REGISTER PAGE: FORM */
.container-register-form {
    display: flex;
    justify-content: center;
    height: 100%;
    margin-bottom: 10%;
}

.register-camp label, input {
    display: block;
    width: 100%;
}

.register-camp {
    display: flex;
    justify-content: center;
    width: 15%;
    padding: 5%;
    padding-bottom: 2%;
    padding-top: 2%;
    height: 100%;
    margin-top: 5%;
    border-radius: 3%;
    background-color: #9c3587;
}

.register-camp input {
    outline: 0;
    border-radius: 5px;
    border: 1px solid #dddfe2;
    font-size: 13pt;
    margin-bottom: 10%;
    color: #3f1651;
}

.register-camp input:focus {
    box-shadow:0 0 0 2px #9c3587;
	border-color: #f89f5b;
}

.register-camp label {
    font-size: 13pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fbe6d6;
    margin-bottom: 3%;
}

.register-button {
    width: 50%;
    border: none;
    padding: 5px;
    font-weight: bold;
    margin-top: 5px;
    font-size: 13pt;
    margin-left: 25%;
    border-radius: 5px;
    margin-bottom: 5%;
    background-color: #f89f5b;
    color: #3f1651;
}

.register-button button {
    display: flex;
    justify-content: center;
}

.register-link {
    display: block;
    margin-left: 11%;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.register-camp {
    display: block;
    justify-content: center;
    align-items: center;
}

.container-faq {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 5%;
    height: 100%;
    margin-bottom: 10%;
    width: 90%;
}

.div-faq {
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}

.div-faq span {
    background-color: #f09adf;
    color: #3f0e35;
}

.div-faq p {
    font-size: 13pt;
}

.div-faq a {
    color: #dd2059;
    font-weight: bold;
}

.div-faq input {
    margin-bottom: 2%;
}

.container-logout {
    display: flex;
    justify-content: left;
    margin-bottom: 5%;
    margin-left: 5%;
}

.logout-button {
    background-color: rgb(192, 49, 49);
    border: none;
    color: white;
    font-size: 15pt;
    padding: 10px;
    border-radius: 10px;
}

.logout-button:hover {
    background-color: rgb(130, 33, 33);
    transition: 0.2s;
}

.logout-button:active {
    background-color: rgb(89, 22, 22);
}

.div-error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 10%;
}

.div-error img {
    width: 30%;
}

.div-error h1, h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #3f0e35;
}

.container-stories {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 5%;
    height: 100%;
    margin-bottom: 10%;
    width: 90%;
}

.div-stories {
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}

.div-stories h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16pt;
    font-weight: bold;
    color: #dd2059;
}

.div-stories p {
    font-size: 13pt;
}

.create-button {
    margin-top: 3%;
    background-color: #dd2059;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 7px;
    font-weight: bold;
    font-size: 13pt;
}

.create-button i {
    font-size: 13pt;
}

.create-button:hover {
    background-color: #bb1647;
    transition: 0.2s;
}

.create-button:active {
    background-color: #941037;
    transition: 0.2s;
}

.container-posts {
    display: block;
    margin-top: 4%;
    margin-left: 5%;
    height: 100%;
    margin-bottom: 5%;
    width: 90%;
}

.div-posts {
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.div-posts p {
    font-size: 13pt;
}

.div-posts a {
    text-decoration: none;
    color: #dd2059;
}

.div-posts a:last-child {
    color: white;
}

.post-button {
    background-color: #dd2059;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 7px;
    font-weight: bold;
    font-size: 13pt;
    font-family: 'Poppins', sans-serif;
}

.post-button:hover {
    background-color: #bb1647;
    transition: 0.2s;
}

.post-button:active {
    background-color: #941037;
    transition: 0.2s;
}

.container-textarea {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
    padding: 5%;
    border-radius: 30%;
    
}

.div-textarea textarea, button {
    display: block;
}

.div-textarea textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    outline-color: #941037;
    outline-style: solid;
    outline-width: 3px;
    border: none;
    border-radius: 5px;
}

.div-textarea textarea:focus {
    box-shadow:0 0 0 3px #9c3587;
	border-color: #f89f5b;
    background-color: #fbe6d6;
}

.container-submit {
    display: flex;
    justify-content: center;
}

.submit-button {
    margin-top: 3%;
    background-color: #9c3587;
    color: white;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13pt;
    border-radius: 7px;
    border: none;
}

.submit-button:hover {
    background-color: #3f1651;
    transition: 0.2s;
}

.submit-button:active {
    background-color: #3f0e35;
    transition: 0.2s;
}

.container-create {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15pt;
    color: #3f1651;
}

.div-create textarea, input, select, label, button {
    display: flex;
}

.div-create textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
}

textarea {
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
}

.input-title {
    width: 99%;
    font-size: 13pt;
    outline-color: #941037;
    outline-style: solid;
    outline-width: 2px;
    border: none;
    border-radius: 5px;
}

.input-title:focus {
    box-shadow:0 0 0 2px #9c3587;
	border-color: #f89f5b;
    background-color: #fbe6d6;
}

.desc-textarea {
    font-size: 13pt;
    outline-color: #941037;
    outline-style: solid;
    outline-width: 2px;
    border: none;
    border-radius: 5px;
}

.desc-textarea:focus {
    box-shadow:0 0 0 2px #9c3587;
	border-color: #f89f5b;
    background-color: #fbe6d6;
}

.label-tag {
    margin-bottom: 1%;
    margin-top: 1%;
}

.label-tag:first-child {
    margin-top: 0;
}

.submit-story-button button{
    background-color: #9c3587;
    color: white;
    padding: 20%;
    border: none;
    border-radius: 7px;
    font-size: 13pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.submit-story-button button:hover {
    background-color: #3f1651;
    transition: 0.2s;
}

.submit-story-button button:active {
    background-color: #3f0e35;
    transition: 0.2s;
}

.container-story {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    height: 100%;
    margin-bottom: 10%;
    width: 90%;
}

.div-story {
    text-align: justify;
}

.div-story p {
    font-family: Arial, Helvetica, sans-serif;
}

.chapters {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #3f0e35;
    font-size: 16pt;
}

.container-chapter {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    height: 100%;
    margin-bottom: 10%;
    width: 90%;
}

.chapter-info {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.div-chapter {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.author-note {
    font-size: 13pt;
}

.chapter-text {
    font-size: 16pt;
}

.container-options {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 5%;
    height: 100%;
    margin-bottom: 10%;
    width: 90%;
}

.div-options a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #dd2059;
}

.div-options li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #3f0e35;
}

.genre-button {
    background-color: rgb(15, 153, 15);
    color: white;
    font-size: 12pt; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    border-radius: 7px; 
    border: none; 
    padding: 10px; 
    font-weight: bold; 
    margin-top: 2%
}